html,
body {
  height: 100%;
}

body {
  background-color: #F2F2F2 !important;
}

* {
  color: black !important;
}

.colorassign {
  background-color: #502ACD;
}

.imageSizeAssign {
  width: 30%;
}

.widthAssign {
  width: 7%;
}

@media (min-width:768px) {
  #root {
    position: relative;
  }

  .sizeAssign {
    font-size: 0.9rem !important;
  }

  .FillName {
    color: white !important;
    margin-left: 5%;
  }

  .marginAssignNavbar {
    width: 100%;
    margin-inline: 20px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .rowTrackingBar>div {
    padding: 0 !important;
    width: fit-content;
    border: 0;
  }

  .col-sm-6>div {
    border: 0;

  }

  .rightBorderClass {
    border-right: 0.5px solid grey !important;
  }

  .bottomBorderClass {
    border-bottom: 0 !important;
  }

  .rowTrackingBar {
    margin-block: 2%;
    margin-bottom: 0 !important;
    border-bottom: 0.5px solid grey;
  }

  .formClass {
    padding: 1%;
  }

  .widthSidebarForms {
    margin-Right: 20px;
    margin-left: 20px;
    right: 0;
    width: calc(100% - 20px - 20px - 20px - 224px);
    position: absolute;
    top: 73%;
    background-color: white;
    /* height: calc(100vh + 10% - 150px); */
    border-radius: 20px;
    height: calc(100vh - 150px + 27% - 20px);
  }

  .widthSidebar {
    margin-left: 20px;
    /* width: 300px; */
    position: absolute;
    top: 73%;
    background-color: white;

    /* height: calc(100vh + 10% - 150px); */
    border-radius: 20px;
    height: calc(100vh - 150px + 27% - 20px);
  }

  .imageSizeAssign {
    width: 100%;
  }

  .heightassign {
    height: 150px;
  }

  .left-auto {
    margin-left: auto !important;
  }

  .paddingAssign {
    padding: 0 0 50px 0;
  }
}